h1, h2 {
    font-weight : 900;
}

h3, h4, h5, h6 {
    font-weight : 100;
}

p {
    font-weight : 400;
}

a {
    &[href^=http], &[href^=https] {
        &:after {
            font-family        : 'FontAwesome';
            content            : '\f08e';
            padding            : 0 5px;
            opacity            : 0;
            -webkit-transition : opacity 0.25s ease;
            -moz-transition    : opacity 0.25s ease;
            transition         : opacity 0.25s ease;
        }

        &:hover:after {
            opacity : 1;
        }
    }
}

section img {
    border     : none;
    background : none;
    box-shadow : none;
}

blockquote {
    width            : 80%;
    padding          : 8px 16px;
    color            : palette(Blue Grey, 500);
    background-color : rgba(palette(White), 0.64);
    border           : none;
    box-shadow       : none;
}

pre, code {
    background-color : transparent;
    border           : none;
    box-shadow       : none;
}

pre code {
    padding          : 16px;
    margin           : 4px 0;
    font             : normal normal normal 0.8em/1.1em 'Anonymous Pro' monospace;
    border           : none;
    color            : invert($backgroundColor);
    background-color : rgba($backgroundColor, 0);
}

footer.caption {
    width      : 100%;
    position   : absolute;
    bottom     : -24px;
    right      : 0;
    font       : 100 normal normal 18px/24px 'Roboto', monospace;
    color      : palette(Grey, 400);
    opacity    : 0.64;
    text-align : right;
}

.dark {
    color : palette(Grey, 800);
}

.dark-medium {
    color : palette(Grey, 600);
}

.faded {
    opacity : 0.48;
}

.light {
    font-weight : 100 !important;
}

.medium {
    font-weight : 400 !important;
}

.heavy {
    font-weight : 900 !important;
}

.highlight {
    color : palette(Pink);
}

.fa-ul.none {
    list-style-type : none !important;
}

.slide-background[data-background-hash] {
    background-blend-mode : multiply;
}
