.codestyle {

    section[data-background*='resources/codestyle'] {
        & {
            color : palette(Blue Grey, 50);
        }

        h1, h2, h3, h4, h5, h6, small {
            color : palette(White);
        }
    }

    ul {
        margin        : 0;
        border-radius : 0;
        width         : 96%;

        &.pros, &.cons {
            li {
                padding       : 2px 8px;
                margin        : 0;
                font-size     : 0.64em;
                font-weight   : 100;
                border-bottom : 1px solid rgba(palette(White), 0.16);

                &:first-child, &:last-child {
                    border-bottom : none;
                    border-radius : 0;
                }

                &:first-child {
                    background-color : transparent;
                    font-size        : 0.8em;
                    font-weight      : 900;
                }

                &.crockford {
                    padding-right : 82px;

                    &:after {
                        position              : absolute;
                        top                   : 50%;
                        right                 : 6px;
                        width                 : 70px;
                        height                : 70px;
                        margin-top            : -35px;
                        content               : '';
                        background            : url('../resources/crockford.jpg') center top no-repeat;
                        background-blend-mode : multiply;
                    }
                }

                small, small * {
                    vertical-align : baseline;
                }
            }
        }

        &.pros li {
            background-color : rgba(palette(Light Green, 500), .64);

            &:first-child {
                color : palette(Light Green, 500);
            }
        }

        &.cons li {
            background-color : rgba(palette(Red, 500), .64);

            &:first-child {
                color : palette(Red, 500);
            }
        }
    }

    ul.pros li.crockford:after {
        border : 1px solid palette(Light Green, 500);
    }

    ul.cons li.crockford:after {
        border : 1px solid palette(Red, 500);
    }

    //
    .slide-background {
        //&[data-background-hash*='resources/codestyle/jslint'],
        //&[data-background-hash*='resources/codestyle/jshint'],
        //&[data-background-hash*='resources/codestyle/jscs'],
        //&[data-background-hash*='resources/codestyle/eslint'] {
        //    &:before {
        //        position         : absolute;
        //        bottom           : 16px;
        //        left             : 16px;
        //        font-size        : 16px;
        //        color            : palette(Blue Grey, 500);
        //        opacity          : 0.64;
        //        font-family      : 'Android Pro', monospace;
        //        background-color : palette(White);
        //        padding          : 2px 4px;
        //        content          : 'http://www.sitepoint.com/comparison-javascript-linting-tools/';
        //    }
        //}

        &[data-background-hash*='resources/codestyle'] {
            background-position : 0 0;
            background-color    : rgba(palette(Grey, 800), 0.96);
        }

        &[data-background-hash*='resources/codestyle/jscs'] {
            background-position : 50% 0;
        }

        &[data-background-hash*='resources/codestyle/jshint'] {
            background-color : rgba(palette(Grey, 800), 0.48);
        }
    }
}
