.dry, .kiss {
    ul li span {
        font-size   : 2em;
        font-weight : 900;

        &:last-child {
            font-weight : 100;
        }
    }
}

.dry ul li span:first-child {
    color : palette(Light Green, 500);
}

.kiss ul li span:first-child {
    color : palette(Pink, 500);
}
