.me {
    .reveal.center .slides section {
        height           : 264px;
        width            : 512px;
        top              : 50% !important;
        margin-top       : -182px;
        background-color : rgba(palette(White), 0.80);
    }

    .reveal h2 {
        font-size : 80%;
        color     : palette(Blue Gray, 500);
    }

    .reveal h3 {
        font-size      : 64%;
        font-weight    : 400;
        color          : palette(Gray, 600);
        text-transform : inherit;
    }

    ul.contact {
        font-size : 48%;

        // fix icon positioning from fonticons
        li {
            line-height : 24px;

            i {

                top : -1px;
            }
        }

        a {
            color       : palette(Grey, 600);
            font-weight : 400;

            // reset from _base.scss
            //&[href^=http], &[href^=https] {
            //    &:after {
            //        content : none;
            //        padding : 0;
            //    }
            //}
        }
    }

    .slide-background[data-background-hash*='resources/me.jpg'] {
        background-position : left center;
        background-color    : rgba(palette(Grey, 800), 0.80);
    }
}
