.sencha { }

.slide-background {

    &[data-background-hash*='resources/sencha-light.png'], &[data-background-hash*='resources/sencha-dark.png'] {
        background-position : center center;
        background-size     : 48%;
        background-color    : transparent;
    }
}
